body {
  font-family: "Noto Serif", "BIZ UDPMincho", "Noto Serif CJK JP";
}

h1, h2, h3 {
  font-family: "Noto Serif", "BIZ UDPGothic", "Noto Sans CJK JP";
  font-weight: bold;
}

h4, h5 {
  font-family: "Noto Sans", "BIZ UDPGothic", "Noto Sans CJK JP";
  font-weight: bold;
}

h6 {
  font-family: "Noto Sans", "BIZ UDPGothic", "Noto Sans CJK JP";
  font-weight: normal;
}

code {
  font-family: "Inconsolata", "BIZ UDGothic", "Noto Sans Mono CJK JP";
}

p {
  text-indent: 1em;
}

b, strong {
  font-family: "Noto Sans", "BIZ UDPGothic", "Noto Sans CJK JP";
  font-weight: normal;
}

kbd {
  font-family: "Noto Sans", "BIZ UDPGothic", "Noto Sans CJK JP";
}

.mermaid .cluster-label .nodeLabel,
.mermaid .label .edgeLabel {
  font-family: "Noto Sans", "BIZ UDPGothic", "Noto Sans CJK JP";
}

.mermaid .label .nodeLabel {
  font-family: "Noto Serif", "BIZ UDPMincho", "Noto Serif CJK JP";
}
