body {
  --body: "Noto Serif", "BIZ UDPMincho", "Noto Serif CJK JP";
  --head: "Noto Serif", "BIZ UDPGothic", "Noto Sans CJK JP";
  --emph: "Noto Sans", "BIZ UDPGothic", "Noto Sans CJK JP";
  --mono: "Inconsolata", "BIZ UDGothic", "Noto Sans Mono CJK JP";
  --idt1: 1em;
  --idt2: 1em;
  --iofs: -0.1em;
}
