body {
  --body: "Noto Serif", "Noto Serif CJK KR";
  --head: "Noto Serif", "Noto Sans CJK KR";
  --emph: "Noto Sans", "Noto Sans CJK KR";
  --mono: "Inconsolata", "Noto Sans Mono CJK KR";
  --idt1: 1em;
  --idt2: 1em;
  --iofs: -0.1em;
}
