body {
  font-family: "Noto Serif";
}

h1, h2, h3, h4, h5 {
  font-family: "Noto Serif";
  font-weight: bold;
}

h6 {
  font-family: "Noto Sans";
  font-weight: normal;
}

.filename {
  font-family: "Noto Sans";
}

code {
  font-family: "Inconsolata";
}

li > p:nth-child(2) {
  text-indent: 0;
}

th {
  font-family: "Noto Sans";
  font-weight: normal;
}

td {
  font-family: "Noto Serif";
}

p + p {
  text-indent: 1.5em;
}

b, strong {
  font-family: "Noto Sans";
  font-weight: normal;
}

kbd {
  font-family: "Noto Sans";
}

.mermaid :is(.cluster-label .nodeLabel, .label .edgeLabel) p {
  font-family: "Noto Sans";
}

.mermaid .label .nodeLabel p {
  font-family: "Noto Serif";
}
