body {
  --body: "Noto Serif", "Noto Serif CJK SC";
  --head: "Noto Serif", "Noto Sans CJK SC";
  --emph: "Noto Sans", "Noto Sans CJK SC";
  --mono: "Inconsolata", "Noto Sans Mono CJK SC";
  --idt1: 2em;
  --idt2: 2em;
  --iofs: -0.1em;
}
