body {
  font-family: "Noto Serif", "Noto Serif CJK TC";
}

h1, h2, h3, h4, h5 {
  font-family: "Noto Serif", "Noto Sans CJK TC";
  font-weight: bold;
}

h6, .markdown-alert-title {
  font-family: "Noto Sans", "Noto Sans CJK TC";
  font-weight: bold;
}

.filename {
  font-family: "Noto Sans", "Noto Sans CJK TC";
}

code {
  font-family: "Inconsolata", "Noto Sans Mono CJK TC";
}

li > p:first-child {
  text-indent: 0;
}

th {
  font-family: "Noto Sans", "Noto Sans CJK TC";
  font-weight: normal;
}

td {
  font-family: "Noto Serif", "Noto Serif CJK TC";
}

p:not(.markdown-alert-title) {
  text-indent: 2em;
}

b, strong {
  font-family: "Noto Sans", "Noto Sans CJK TC";
  font-weight: bold;
}

kbd {
  font-family: "Noto Sans", "Noto Sans CJK TC";
}

img {
  position: relative;
  top: -0.1em;
}

/* Mermaid Graph */

.mermaid :is(.cluster-label .nodeLabel, .label .edgeLabel) p {
  font-family: "Noto Sans", "Noto Sans CJK TC";
}

.mermaid .label .nodeLabel p {
  font-family: "Noto Serif", "Noto Serif CJK TC";
}

/* Mermaid Flowchart */

.mermaid .flowchartTitleText {
  font-family: "Noto Sans", "Noto Sans CJK TC";
}

/* Mermaid Class Diagram */

.mermaid :is(.classDiagramTitleText, .label-group .label .nodeLabel p) {
  font-family: "Noto Sans", "Noto Sans CJK TC";
}

.mermaid .edgeTerminals foreignObject {
  font-family: "Noto Serif", "Noto Serif CJK TC";
}

/* Mermaid State Diagram */

.mermaid :is(.stateDiagramTitleText .cluster-label .nodeLabel) {
  font-family: "Noto Sans", "Noto Sans CJK TC";
}

/* Mermaid Sequence Diagram */

.mermaid :is(.text tspan, .labelText) {
  font-family: "Noto Sans", "Noto Sans CJK TC";
}

.mermaid .sequenceNumber {
  font-family: "Noto Sans", "Noto Sans CJK TC" !important;
}

.mermaid :is(.actor, .noteText, .loopText) tspan,
.mermaid .messageText {
  font-family: "Noto Serif", "Noto Serif CJK TC";
}

/* Mermaid Entity Relationship Diagram */

.mermaid :is(.entityTitleText, .entityLabel:first-of-type, .relationshipLabel) {
  font-family: "Noto Sans", "Noto Sans CJK TC";
}

.mermaid .entityLabel {
  font-family: "Noto Serif", "Noto Serif CJK TC";
}

/* Mermaid User Journey Diagram */

.mermaid :has(.journey-section) ~ text,
.mermaid .legend tspan {
  font-family: "Noto Sans", "Noto Sans CJK TC";
}

.mermaid :is(.journey-section, .task) .label {
  font-family: "Noto Serif", "Noto Serif CJK TC" !important;
}

/* Mermaid Gantt Chart */

.mermaid :is(.titleText, .sectionTitle tspan) {
  font-family: "Noto Sans", "Noto Sans CJK TC" !important;
}

.mermaid .tick text,
.mermaid :is(.taskText, .taskTextOutsideRight, .taskTextOutsideLeft) {
  font-family: "Noto Serif", "Noto Serif CJK TC" !important;
}
