body {
  --bqbg: #fec;
  --bqbd: none;
  --alnt: #05c;
  --altp: #063;
  --alim: #63a;
  --alwr: #850;
  --alct: #b12;
  --cbbg: #eee;
  --fnbg: #ddc;
  --cbbd: none;
  --cbbr: 4pt;
  --thbg: #ddd;
  --tbbd: 0.5pt solid #666;
  --lkfg: #00e;
  --kbbg: #444;
  --kbfg: #fff;
}
