blockquote {
  background-color: #fec;
  border-radius: 4pt;
}

pre {
  background-color: #eee;
  border-radius: 4pt;
}

.filename {
  background-color: #ddc;
}

th {
  background-color: #ddd;
  border-color: #666;
}

td {
  border-color: #666;
}

kbd {
  background-color: #444;
  color: #fff;
}

.mermaid .taskText:not(.activeText0):not(.activeText1):not(.activeText2):not(.activeText3) {
  fill: #000 !important;
}
