body {
  --bqbg: #fff;
  --bqbd: 0.5pt solid #666;
  --alnt: #666;
  --altp: #666;
  --alim: #000;
  --alwr: #444;
  --alct: #000;
  --cbbg: #eee;
  --fnbg: #ddd;
  --cbbd: none;
  --cbbr: 4pt;
  --thbg: #ddd;
  --tbbd: 0.5pt solid #666;
  --lkfg: #000;
  --kbbg: #ddd;
  --kbfg: #000;
}
