blockquote {
  border: 0.5pt solid #666;
  border-radius: 4pt;
}

pre {
  background-color: #eee;
  border-radius: 4pt;
}

.filename {
  background-color: #ddd;
}

th {
  background-color: #ddd;
  border-color: #666;
}

td {
  border-color: #666;
}

a {
  color: #000;
}

kbd {
  background-color: #ddd;
  border: 0.5pt solid #666;
  color: #000;
}

.mermaid [aria-roledescription="er"] .relationshipLabelBox {
  opacity: 1 !important;
}

.mermaid [aria-roledescription="gantt"] .today {
  stroke-width: 1 !important;
}
