blockquote {
  border: 1px solid #000;
  border-radius: 4pt;
}

pre {
  border: 1px solid #000;
}

.filename {
  border: 1px solid #000;
  border-top: none;
}

th, td {
  border-color: #000;
}

a {
  color: #000;
}

kbd {
  border: 1px solid #000;
}

.mermaid .node :is(rect, circle, ellipse, polygon, path),
.mermaid :is(.edgeLabels, .cluster) rect {
  fill: #fff !important;
  stroke: #000 !important;
}

.mermaid .edgePaths path {
  fill: none !important;
  stroke: #000 !important;
}

.mermaid .marker {
  fill: #000 !important;
  stroke: #000 !important;
}
