body {
  font-size: 10.5pt;
  line-break: strict;
  margin: 0;
}

h1 {
  break-after: avoid-page;
  font-size: 24pt;
  margin: 8pt 0 16pt;
  padding: 0;
  text-align: center;
}

h2 {
  break-after: avoid-page;
  font-size: 18pt;
  margin: 16pt 0 8pt;
  padding: 0;
}

h3 {
  break-after: avoid-page;
  font-size: 16pt;
  margin: 12pt 0 8pt;
  padding: 0;
}

h4 {
  break-after: avoid-page;
  font-size: 14pt;
  margin: 12pt 0 8pt;
  padding: 0;
}

h5, h6 {
  break-after: avoid-page;
  font-size: 12pt;
  margin: 8pt 0;
  padding: 0;
}

blockquote, pre {
  break-inside: avoid-page;
  margin: 8pt 12pt;
  padding: 4pt 8pt;
}

figure > pre {
  margin: 0;
}

blockquote > h1:first-child,
blockquote > h2:first-child,
blockquote > h3:first-child,
blockquote > h4:first-child,
blockquote > h5:first-child,
blockquote > h6:first-child {
  margin-top: 4px;
}

pre {
  position: relative;
}

pre.float {
  break-inside: auto;
}

pre.newpage {
  break-before: page;
  break-inside: auto;
}

pre.isolated {
  break-after: page;
  break-before: page;
  break-inside: auto;
}

.filename {
  border-radius: 0 0 4pt 4pt;
  display: block;
  font-size: 9pt;
  left: 8pt;
  line-height: 14pt;
  padding: 0 4pt;
  position: absolute;
  top: 0;
}

.filename + * {
  display: block;
  margin-top: 14pt;
}

ul, ol {
  margin: 8pt 0 8pt 8pt;
  padding-left: 2em;
}

li:has(> p) {
  margin: 4pt 0;
}

li > ul,
li > ol {
  margin: 0;
}

li > p:nth-child(2) {
  break-before: avoid-page;
  margin-top: 2pt;
}

table {
  border-collapse: collapse;
  break-inside: avoid-page;
  margin: 8pt;
}

th, td {
  border-style: solid;
  border-width: 1px;
  font-size: 10.5pt;
  padding: 0 2pt;
}

p {
  margin: 0;
}

kbd {
  border-radius: 4pt;
  margin: 0 2pt;
  padding: 0 4pt;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 8pt 12pt;
}

figure:has(> img) {
  align-items: center;
}

figure:has(> pre), figure:has(> .mermaid) {
  align-items: stretch;
}

figcaption {
  align-self: center;
  break-before: avoid-page;
  font-size: 9pt;
}

.mermaid {
  text-align: center;
}

.mermaid .cluster-label .nodeLabel {
  font-size: 10.5pt;
}

.mermaid .label .nodeLabel,
.mermaid .label .edgeLabel {
  font-size: 9pt;
}
