body {
  font-feature-settings: "palt" 1;
  font-size: 10.5pt;
  hyphens: auto;
  line-break: strict;
  overflow-wrap: anywhere;
  margin: 0;
}

h1 {
  break-after: avoid-page;
  font-size: 18pt;
  margin: 8pt 0 16pt;
  padding: 0;
  text-align: center;
}

h2 {
  break-after: avoid-page;
  font-size: 16pt;
  margin: 16pt 0 8pt;
  padding: 0;
}

h3 {
  break-after: avoid-page;
  font-size: 14pt;
  margin: 12pt 0 8pt;
  padding: 0;
}

h4 {
  break-after: avoid-page;
  font-size: 12pt;
  margin: 12pt 0 8pt;
  padding: 0;
}

h5, h6 {
  break-after: avoid-page;
  font-size: 10.5pt;
  margin: 8pt 0;
  padding: 0;
}

blockquote, pre {
  break-inside: avoid-page;
  margin: 8pt 12pt;
  padding: 4pt 8pt;
}

figure > pre {
  margin: 0;
}

blockquote > :is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 4pt;
}

pre {
  position: relative;
}

pre.float {
  break-inside: auto;
}

pre.newpage {
  break-before: page;
  break-inside: auto;
}

pre.isolated {
  break-after: page;
  break-before: page;
  break-inside: auto;
}

.filename {
  border-radius: 0 0 4pt 4pt;
  display: block;
  font-size: 9pt;
  left: 8pt;
  line-height: 14pt;
  padding: 0 4pt;
  position: absolute;
  top: 0;
}

.filename + * {
  display: block;
  margin-top: 14pt;
}

ul, ol {
  margin: 8pt 0 8pt 8pt;
  padding-left: 2em;
}

li:has(> p) {
  margin: 4pt 0;
}

li > :is(ul, ol) {
  margin: 0;
}

li > p:nth-child(2) {
  break-before: avoid-page;
  margin-top: 2pt;
}

table {
  border-collapse: collapse;
  break-inside: avoid-page;
  margin: 8pt;
}

th, td {
  border-style: solid;
  border-width: 0.5pt;
  font-size: 10.5pt;
  padding: 0 2pt;
}

p {
  margin: 0;
}

kbd {
  border-radius: 4pt;
  margin: 0 2pt;
  padding: 0 4pt;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 8pt 12pt;
}

figure:has(> img) {
  align-items: center;
}

figure:has(> :is(pre, .mermaid)) {
  align-items: stretch;
}

figcaption {
  align-self: center;
  break-before: avoid-page;
  font-size: 9pt;
}

.katex .newline {
  margin-top: 8pt;
}

.mermaid {
  text-align: center;
}

/* Mermaid Graph */

.mermaid .cluster-label .nodeLabel p {
  font-size: 10.5pt;
  text-indent: 0;
}

.mermaid .label :is(.edgeLabel, .nodeLabel) p {
  font-size: 9pt;
  text-indent: 0;
}

/* Mermaid Flowchart */

.mermaid .flowchartTitleText {
  font-size: 10.5pt !important;
}

/* Mermaid Class Diagram */

.mermaid :is(.classDiagramTitleText, .label-group .label .nodeLabel p) {
  font-size: 10.5pt;
}

.mermaid .edgeTerminals foreignObject {
  font-size: 8pt;
  height: 1.5em !important;
  transform: translateY(-.25em);
}

/* Mermaid State Diagram */

.mermaid .stateDiagramTitleText {
  font-size: 10.5pt !important;
}

.mermaid .cluster-label .nodeLabel {
  font-size: 10.5pt;
}

/* Mermaid Sequence Diagram */

.mermaid .text tspan {
  font-size: 10.5pt;
}

.mermaid :is(.labelText, .sequenceNumber) {
  font-size: 9pt !important;
}

.mermaid :is(.actor, .noteText, .loopText) tspan {
  font-size: 9pt;
}

.mermaid .messageText {
  font-size: 9pt !important;
  transform: translateY(.75em);
}

/* Mermaid Entity Relationship Diagram */

.mermaid :is(.entityTitleText, .entityLabel:first-of-type) {
  font-size: 10.5pt !important;
}

.mermaid :is(.entityLabel, .relationshipLabel) {
  font-size: 9pt !important;
}

/* Mermaid User Journey Diagram */

.mermaid :has(.journey-section) ~ text {
  font-size: 10.5pt !important;
}

.mermaid .legend {
  transform: translateY(-.2em);
}

.mermaid .legend tspan,
.mermaid :is(.journey-section, .task) .label {
  font-size: 9pt;
}

/* Mermaid Gantt Chart */

.mermaid .titleText {
  font-size: 10.5pt;
}

.mermaid .sectionTitle tspan,
.mermaid :is(.taskText, .taskTextOutsideRight, .taskTextOutsideLeft) {
  font-size: 9pt;
}

.mermaid .tick text {
  font-size: 8pt;
}
